.header {
  min-width: 500px;
  height: 160px;
  background-color: #211a54;
  display: flex;
  flex-direction: column;

  &__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  &__main {
    margin-top: -30px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }

  &__input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 50px 0 50px;
  }

  &__button {
    border: 3px solid #2c12df;
    border-radius: 25px;
    width: 206px;
    height: 35px;
    margin: 5px;
    color: #fbad40;
    font-size: 20px;
    background-color: #211a54;
  }

  &__button:hover {
    box-shadow: 0 0 25px 5px rgb(131, 5, 164);
    cursor: pointer;
  }

  &__button:active {
    background-color: rgb(131, 5, 164);
  }

  &__logo{

  }

  &__menu{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
}

.contacts {
  &__item {
    border: 3px solid #2c12df;
    border-radius: 25px;
    width: 200px;
    height: 30px;
    margin: 5px;
    color: #fbad40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

.input-form {
  &__input {
    border: 2px solid #2c12df;
    border-radius: 15px 0 0 15px;
    background-color: #211a54;
    color: #fbad40;
    font-size: 20px;
    min-width: 500px;
    min-height: 30px;
    padding-left: 10px;
  }

  &__input:focus {
    outline: none;
    border: 2px solid #2c12df;
    box-shadow: 0 0 25px 5px rgb(131, 5, 164);
  }

  &__button {
    border: 2px solid #2c12df;
    border-radius: 0 15px 15px 0;
    min-height: 36px;
    min-width: 120px;
    background-color: #2c12df;
    color: #fbad40;
    font-size: 25px;
    letter-spacing: 2px;
  }

  &__button:hover {
    box-shadow: 0 0 25px 5px rgb(131, 5, 164);
    cursor: pointer;
  }

  &__button:active {
    background-color: rgb(131, 5, 164);
  }
}
